<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @partner_list.organization %>
</p>

<%= link_to 'Edit', edit_partner_list_path(@partner_list) %> |
<%= link_to 'Back', partner_lists_path %>
